.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.timer {
  position: absolute;
  color: #61dafb;
  font-size: 20px;
  top: 30%;
  left: 30%;
  border: 3px solid #61dafb;
  border-radius: 50%;
  padding: 30px 30px;
}

.width_won {
  width: 150%;
}
.background {
  border: 1px solid #2d2b33;
  padding: 17% 17%;
  background: #2d2b33;
}

.padding_btn {
  padding: 15px 20%;
  font-size: 20px;
}

.disc_p {
  font-size: 20px;
  padding: 15px;
  margin: 20px;
  color: white;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
